<template>
  <div class="text-red-600">熟悉的配方，熟悉的味道</div>
</template>

<script setup>
import {getList} from '../../api/dashboard'
import {onMounted} from "vue";

const initData = async () => {
  console.log('initData')
  const {data} = await getList();
  console.log(data)
  // const response = await fetch('https://work_test.3d66.com/api/customer/list');
  // console.log(await response.json())
}
onMounted(() => initData())

</script>


<style scoped>

</style>