---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import Dashboard from '../components/dashboard.astro';
import {SITE_TITLE, SITE_DESCRIPTION} from '../consts';
---

<!doctype html>
<html lang="en">
<head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION}/>
</head>
<body>
<Header title={SITE_TITLE}/>
<main>
    <h1>🧑‍🚀 Hello, Astronaut!</h1>
    <Dashboard/>
    目前已解决的问题有：
    <div>
        1. 注入vue3组件 <br>
        2. 注入react组件<br>
        3. 静态资源文件处理。<br>
        4. 注入tailwind。 <br>
        5. api对接成功。 <br>
        6. 等待下一个小白鼠
    </div>
</main>
<Footer/>
</body>
</html>

